.testChildrenWrapper {
    display: flex;
    flex-direction: column;
}

.floatingAction {
    position: sticky;
    width: 100%;
    padding: 0.5rem;
    left: 0;
    top: 0;
    background: rgba(111, 56, 223, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    @media print {
        display: none;
    }
}
